<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Are We Gonna Win the League?</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="page">
      <h1>Are We Gonna Win the League?</h1>
      <p>
        Want to know if your team has a shot of winning the league? Qualifying
        for European play? Avoiding relegation? Enter your team's name and the
        rank you hope they'll achieve below to see just how tough -- or not --
        their odds really are.
      </p>
      <h2>Who are ya?!</h2>
      <form action="/submit" method="post">
        <p class="heading">
          Who do you support?: <input type="text" name="team" />
        </p>
        <p class="heading">
          Where do you want to finish?:
          <input type="number" name="rank" min="1" max="20" />
          <input type="submit" name="submit" value="Can we do it?" />
        </p>
      </form>

      {% if results.is_some() %} {% let results_tuple = results.unwrap() %}
      <h2>
        There is a {{ results_tuple.1 }}% chance that {{ results_tuple.2 }} will
        finish in rank {{ results_tuple.0 }} or above
      </h2>
      {% endif %}

      <h3>Valid Team Name Formats</h3>
      <ul>
        <li>Arsenal</li>
        <li>Villa</li>
        <li>Bournemouth</li>
        <li>Brentford</li>
        <li>Brighton</li>
        <li>Chelsea</li>
        <li>Palace</li>
        <li>Everton</li>
        <li>Fulham</li>
        <li>Ipswich</li>
        <li>Leicester</li>
        <li>Liverpool</li>
        <li>City</li>
        <li>United</li>
        <li>Newcastle</li>
        <li>Forest</li>
        <li>Southampton</li>
        <li>Spurs</li>
        <li>West Ham</li>
        <li>Wolves</li>
      </ul>
    </div>
  </body>
</html>
