<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Are We Gonna Win the League?</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="page">
      <h1>Are We Gonna Win the League?</h1>
      <p>
        Want to know if your team has a shot of winning the league? Qualifying
        for European play? Avoiding relegation? Enter your team's name and the
        rank you hope they'll achieve below to see just how tough their odds
        really are.
      </p>
      <h2>Oo are ya!</h2>
      <form action="/submit" method="post">
        <p class="heading">
          Who do you support?: <input type="text" name="team" />
        </p>
        <p class="heading">
          Where do you want to finish?: <input type="number" name="rank" />
          <input type="submit" name="submit" value="Submit" />
        </p>
      </form>

      {% if results.is_some() %} {% let results_tuple = results.unwrap() %}
      <h2>
        There is a {{ results_tuple.1.0 }}% chance that {{ results_tuple.2 }}
        will finish in rank {{ results_tuple.0 }} or above. Average number of
        remaining wins required: {{ results_tuple.1.1 }}
      </h2>
      {% endif %}
    </div>
  </body>
</html>
